@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<ul>
    <li>Valentino Rossi</li>
    <li>Marco Pantani</li>
    <li>Alberto Tomba</li>
    <li>Carolina Kostner</li>
    <li>Valentina Vezzali</li>
    <li>Elena Cecchini</li>
    <li>Manuela Di Centa</li>
</ul>