
@{
    ViewData["Title"] = "Index";
}

<h1>Lista studenti</h1>

<ul>
    <li>..</li>
    <li>..</li>
    <li>..</li>
    <li>..</li>
    <li>..</li>
</ul>


<div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">Codice duplicato</h4>
    <p>L'elenco degli studenti lo mostro sia qua che in home page.</p>
    <hr>
    <p class="mb-0">
        Usiamo una vista parziale per riutilizzare il codice che genera la lista.<br />
    </p>
</div>

