@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">

    <h1>Corso Bearzi 2019</h1>

    <h2>Docente</h2>
    <p><a href="docente.html">Mauro Rainis</a></p>

    <h2>Studenti</h2>
    <ul>
        <li>.</li>
        <li>.</li>
        <li>.</li>
    </ul>

    <h2>Programma del corso</h2>
    <div>
        <ol>
            <li>Introduzione a git e html</li>
            <li>Introduzione ai database</li>
        </ol>
    </div>

    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Quasi a posto</h4>
        <p>Adesso abbiamo un layout corretto ma non funzionano ancora i link tra le pagine</p>
        <hr>
        <p class="mb-0">
            Il layout è condiviso tra tutte le pagine.<br />
            Bisogna aggiungere la pagina docente.<br />
            Bisogna correggere i link (utilizzando gli HTML Helper).<br />
        </p>
    </div>
</div>