@model List<Studente>
@{
    ViewData["Title"] = "Home Page";
}

    <div class="container-fluid">

        <h1>Corso Bearzi 2019</h1>

        <h2>Docente</h2>
        <p><a asp-controller="Home" asp-action="Docente" class="nav-link">Mauro Rainis</a></p>

        <h2>Studenti</h2>
        <partial name="ListaStudentiPartial" model="@Model" />

        <h2>Programma del corso</h2>
        <div>
            <ol>
                <li>Introduzione a git e html</li>
                <li>Introduzione ai database</li>
            </ol>
        </div>

        <div class="alert alert-success" role="alert">
            <h4>Soluzione Esercizio 3</h4>
            Recuperare l'elenco degli studenti utilizzando un servizio.
            <ol>
                <li>Creo il modello per gli studenti</li>
                <li>Creo l'interfaccia per il servizio</li>
                <li>Creo un servizio che implementa l'interfaccia</li>
                <li>Aggiungo il servizio alla classe Startup</li>
                <li>Inietto il servizio nei controller</li>
                <li>Recupero lista studenti da servizio</li>
                <li>Passo lista studenti alla vista</li>
                <li>Richiamo la partial view passandogli la lista studenti</li>
            </ol>
        </div>
        <div class="alert alert-info" role="alert">
            <h4>Vantaggi rispetto a esercizio 2</h4>
            <ol>
                <li>Testabile</li>
                <li>Facilmente espandibile creando nuove implementazioni di IStudentiService</li>
                <li> ... </li>
            </ol>
        </div>
    </div>