@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">

    <h1>Corso Bearzi 2019</h1>

    <h2>Docente</h2>
    <p><a href="@Url.Action("Docente", "Home")">Mauro Rainis</a></p>

    <h2>Studenti</h2>
    <ul>
        <li>.</li>
        <li>.</li>
        <li>.</li>
    </ul>


    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">Codice duplicato</h4>
        <p>L'elenco degli studenti lo mostro sia qua che nella pagina studenti.</p>
        <hr>
        <p class="mb-0">
            Per evitare la duplicazione usiamo una vista parziale per riutilizzare il codice che genera la lista.<br />
        </p>
    </div>


    <h2>Programma del corso</h2>
    <div>
        <ol>
            <li>Introduzione a git e html</li>
            <li>Introduzione ai database</li>
        </ol>
    </div>
</div>